img {
  -webkit-user-drag: none;
}
html > div {
  display: none !important;
}
body {
  font-family: Open Sans, sans-serif;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#bgvid {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background: no-repeat center;
  z-index: -100;
  transform: translateY(-83px);
  /*Pos*/
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

body div span {
  display: block;
  text-align: center;
}

span {
  font-size: 22px;
}

.text {
  text-align: center;
  font-size: 19px;
}

.username {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 28px;
  margin-top: 50px;
}
/* Container + Items */
.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
}

.item {
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.432);
  width: 700px;
  padding: 15px;
  border-radius: 15px;
}

.item2 {
  display: flex;
  justify-content: center;
  gap: 20px;

  color: white;
  background: rgba(0, 0, 0, 0.432);
  width: 700px;
  padding: 15px;
  border-radius: 15px;

  margin: auto;
}

.item3 {
  display: flex;
  justify-content: left;
  align-items: center;

  color: white;
  background: rgba(0, 0, 0, 0.432);
  width: 700px;
  padding: 15px;
  border-radius: 15px;
}

/* .... */

.banner {
  position: absolute;
  width: 700px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  z-index: 0;
}

.discordpfp {
  height: 100px;
  width: 100px;
  border-radius: 12px;
}
.discorduser {
  display: flex;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 700;
}
.addondisc {
  display: flex;
  padding: 0px;
  gap: 10px;
  color: white;
  text-decoration: none;
  margin-left: 310px;
  align-self: center;
  font-weight: 700;
  padding: 15px 30px 10px 30px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 15px;
  white-space: nowrap;
}
.addondisc:visited {
  color: white;
}

.pfp {
  height: 200px;
  border-radius: 50%;
  border: 8px solid rgba(0, 0, 0, 0.363);
  justify-content: center;

  position: relative;
  transform: translate(111%, 25%);
}

/* tooltip */

.LINK:hover .tooltip1 {
  display: block;
  transform: translate(10px, 30px);
  transition: 0.5s;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.5s;
}
.logo:hover {
  margin: -5px 15px -5px 15px;
  border: 3px solid;
  color: white;
}
.tooltip1 {
  display: none;
  font-size: 18px;
  background: #000000;
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border-radius: 7px;
}

/* .... */

/* css icon */
.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  transform: translateY(-2px);
  width: 22px;
  height: 22px;
  white-space: nowrap;
  transition: 0.5s;
}
.gg-arrow-right::after,
.gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px;
}
.gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
  transition: 0.5s;
}
.gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
  transition: 0.5s;
}
/* .... */

/* Click Anywhere */
.btn {
  color: white;
  font-weight: 700;
  font-size: 28px;
  border-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(10px);
}
/* .... */
/* Mute */
.mute {
  margin: 0;
  position: absolute;
  top: 2vh;
  left: 1vw;
  border-style: none;
  font-size: 30px;
  color: white;
  background: none;
  z-index: -99;
}

/* .... */
