img {
  -webkit-user-drag: none;
}
body {
  font-family: Open Sans, sans-serif;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
#bgvid {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0px, -120px);
  width: 100%;
  z-index: -100;
  /*Pos*/
}
/* height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
/* min-width: 100%;
  /* min-height: 56.25vw; 100 * 9 / 16 */

body div span {
  display: block;
  text-align: center;
}

span {
  font-size: 22px;
}

.text {
  text-align: center;
  font-size: 19px;
}

.username {
  color: antiquewhite;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 28px;
}
/* Container + Items */
.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 730px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  z-index: 1000;

  color: white;
  background: rgba(255, 128, 128, 0.1);
  backdrop-filter: blur(50px);
  width: 700px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000000;
}

.item2 {
  display: flex;
  justify-content: center;
  gap: 20px;

  color: white;
  background: rgba(255, 128, 128, 0.1);
  backdrop-filter: blur(50px);

  width: 700px;
  padding: 15px;
  border-radius: 15px;

  margin: auto;
  border: 2px solid #000000;
}

.item3 {
  display: flex;
  justify-content: left;
  align-items: center;

  color: white;
  background: rgba(255, 128, 128, 0.1);
  backdrop-filter: blur(50px);
  width: 700px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000000;
}

/* .... */

.banner {
  position: absolute;
  width: 700px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  z-index: 0;
}

.discordpfp {
  height: 100px;
  width: 100px;
  border-radius: 12px;
}
.discorduser {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 13px;
}
.desc {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.description {
  width: max-content;
  font-size: 16px;
}

.addondisc {
  display: flex;
  padding: 0px;
  gap: 5px;
  border: #000000 solid 2px;
  color: white;
  text-decoration: none;
  align-self: center;
  font-weight: 700;
  padding: 15px 25px 10px 25px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 15px;
  white-space: nowrap;
  transition: 1s;
}
.addondisc:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
.addondisc:visited {
  color: white;
}

.pfp {
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  margin: 0;

  transform: translateX(0);
}

/* tooltip */

.mal::before,
.mal::after {
  --scale: 0;

  position: absolute;
  top: 6rem;
  transform: translateX(0%) translateY(-100%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}
.mal::before {
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  width: max-content;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  border: 2px solid white;
  background: rgb(0, 0, 0);
}
.mal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(assets/mal.png);
  background-size: cover;
  background-position: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(40px);
  -webkit-box-shadow: 0px 0px 68px 0px rgba(199, 113, 113, 0.9);
  -moz-box-shadow: 0px 0px 68px 0px rgba(199, 113, 113, 0.9);
  box-shadow: 0px 0px 68px 0px rgba(199, 113, 113, 0.9);
}
.mal:hover::before {
  position: absolute;
  --scale: 1;
}

#spot::before,
#spot::after {
  top: 6rem;
  transform: translateX(-18%) translateY(-100%) scale(var(--scale));
}
#steam::before,
#steam::after {
  top: 6rem;
  transform: translateX(-10%) translateY(-100%) scale(var(--scale));
}
#spot {
  background-image: url(assets/spotify.png);
}
#steam {
  background-image: url(assets/steam.png);
}

/* .LINK:hover .tooltip1 {
  display: block;
  transition: 0.5s;
} */

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.5s;
}
/* .logo:hover {
  margin: -5px 15px -5px 15px;
  border: 3px solid;
  color: white;
} */
/* .tooltip1 {
  font-size: 18px;
  background: #000000;
  color: white;
  position: absolute;
  font-weight: 500;
  z-index: 1000;
  padding: 5px;
  transform: translate(-500px, -500px);
  border-radius: 7px;
} */

/* .... */

.socials {
  display: flex;
  gap: 5px;
}

/* css icon */
.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  transform: translateY(-2px);
  width: 22px;
  height: 22px;
  white-space: nowrap;
  transition: 0.5s;
}
.gg-arrow-right::after,
.gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px;
}
.gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
  transition: 0.5s;
}
.gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
  transition: 0.5s;
}
/* .... */

/* Click Anywhere */
.btn {
  position: absolute;
  z-index: 1000;
  color: white;
  font-weight: 700;
  font-size: 28px;
  border-style: none;
  margin: 0;
  padding: 0;
  width: 100000px;
  height: 10000px;
  background-color: rgba(0, 0, 0, 0.267);
  backdrop-filter: blur(40px);
}
/* .... */
/* Mute */
.mute {
  z-index: 99;
  margin: 0;
  position: absolute;
  top: 2vh;
  left: 1vw;
  border-style: none;
  font-size: 30px;
  color: white;
  background: none;
}

/* User Description */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  padding: 40px;
  background-color: #121212;
}

.text {
  border-right: solid 3px rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 26px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

/* Animation */
.text {
  animation: animated-text 1.5s steps(27, end) 1s 1 normal both,
    animated-cursor 600ms steps(27, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 216px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
  }
}

/* loading */

#loading {
  position: fixed;
  display: flex;
  z-index: 10000000;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  width: 100000px;
  height: 10000px;
  background-color: rgba(0, 0, 0, 0.267);
  backdrop-filter: blur(40px);
}

/* Music Player */

.player {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  background-color: #3c2e2e00;
  padding: 20px;
  border-radius: 15px;
  width: 800px;
  text-align: center;
  color: #e1b796;
}

.track-info p {
  order: 1;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  width: 700px;
  align-self: flex-start;
}
.prog-cont {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  margin: 0;
  justify-content: space-between;

  flex-grow: 1;
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.skip-btn svg {
  fill: black;
}

.skip-btn:hover svg {
  fill: #ff7d8d;
}

.play-btn:hover {
  fill: #ff7d8d;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;

  flex-grow: 3;
}

#progress {
  flex-grow: 1;
  width: 400px;
  cursor: pointer;
}

#current-time,
#duration {
  font-size: 12px;
  color: #ffb48f;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #b3695d;
  border-radius: 5px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  height: 20px;
  background: #251917;
}
